<div class="container">

    <div class="card mt-5">
        <div class="card-header text-center">
            <h5>Items log</h5>
        </div>
        <div class="card-body">
            
            <table class="table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Title</td>
                        <td>Type</td>
                        <td>Content</td>
                        <td>Status</td>
                        <td>Date</td>
                    </tr>
                </thead>
                <tbody>
                    <% SentItem.all.each do |si| %>
                    <tr>
                        <td><%= si.id %></td>
                        <td><%= si.title %></td>
                        <td><%= si.item_type %></td>
                        <td><%= si.status %></td>
                        <td><%= si.content %></td>
                        <td><%= si.created_at %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- <%= render partial: 'user_selection' %> -->

