<div class="container">
    <%= render partial: 'sent_item_modal' %>
    <div class="card mt-5">
        <div class="card-header text-center">
            <h5>Items log</h5>
        </div>
        <div class="card-body">
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Content</td>
                        <td>Date</td>
                    </tr>
                </thead>
                <tbody>
                    <% SentItemGroup.all.each_with_index do |sig, i| %>
                    <tr data-toggle="modal" data-target="#sentItemModal">
                        <td><%= i+1 %></td>
                        <td><%= sig.sent_items.length %> Items</td>
                        <td><%= sig.created_at %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- <%= render partial: 'user_selection' %> -->

