<div class="row">
    <div class="col">
        <p>Your holiday requests</p>
        <table class="table">
            <tr>
                <td>Since</td>
                <td>Until</td>
                <td>Status</td>
            </tr>
            <% @holiday_requests.each do |hr| %>
                <tr>
                    <td>
                        <%= hr.since %>
                    </td>
                    <td>
                        <%= hr.until %>
                    </td>
                    <td>
                        <%= hr.status %>
                    </td>
                </tr>
            <% end %>
        </table>
        <%= link_to 'New request', new_holiday_request_path %>
    </div>
    <div class="col">
        <p>Inbox</p>
        <table class="table">
            <tr>
                <td>Requestor</td>
                <td>Since</td>
                <td>Until</td>
                <td>Status</td>
                <td></td>
            </tr>
            <% @inbox.each do |hr| %>
                <tr>
                    <td><%= hr.employee.user.email %></td>
                    <td><%= hr.since %></td>
                    <td><%= hr.until %></td>
                    <td><%= hr.status %></td>
                    <td>
                    <%= link_to 'Accept', '#' %>
                    <%= link_to 'Reject', '#' %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
    <div class="col">
        some other stuff
    </div>
</div>
