<%= form_with model: @template, id:"templateEditingForm" do |t| %>
  <ul>
  <% @template.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <div class="form-row">
    <div class="form-group col-sm">
      <%= t.label :name, "Name" %>
      <%= t.text_field :name, class: "form-control", :required => true %>
    </div>
    <div class="form-group col-sm">
      <%= t.label :category, "Category" %>
      <%= t.select :category, options_for_select((@type_list), @template.category),{ }, class: "form-control" %>
    </div>
    <div class="form-group col-sm">
      <%= t.label :title, "Title" %> <!-- optional -->
      <%= t.text_field :title, class: "form-control" %>
    </div>
  </div>
  <%= t.label :template_content, "Content" %>
  <div class="row">      
    <div class="form-group col-md">
      <textarea name="template[content]" id="template_content" class="form-control" required><%= @template_content %></textarea>
    </div>
    <div class="col-md">
      <div class="card">
        <div class="card-body" id="content_preview">
        </div>
      </div>
    </div>
  </div>
  <%= t.submit nil, class: "btn btn-primary" %>
<% end %>


  