<!-- Local Variables:
    id - table id, required
    headers - array of headers, also defines number of columns in table, required
    content - collection of content that should be rendered in table, required
    hidden - array of headers that should be present in table but hidden, optional
    idKey - specifies key (that should be unique) which will be sent to backend to identify selected rows, if not present DataTable selection feature is turned off, optional
    postPath - specify post path for AJAX post request, optional 
    -->
<table id=<%=id%>>
    <thead>
        <tr>
            <% headers.each do |k, v| %>
            <th><%= v %></th>
            <% end %>
        </tr>
        </thead>
        <tbody>
            <% content.each do |content_row| %>
            <tr>
                <% headers.each_key do |k| %>
                <td><%= content_row[k] %></td>
                <% end %>  
            </tr>
            <% end %>        
        </tbody>
</table>
<button id="devtest-selection">Test Selection</button>
<script>
    $(document).ready( function () {
        const dataTable = $( <%=id%> ).DataTable( {
            "columnDefs": [
                { "visible": false, "targets": 0 }
            ]
        } );
        $( <%=id%> ).on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
        } );
        $('#devtest-selection').click( function () {
            let data = dataTable.rows('.selected').data()
            console.log(data);
            let ids = [];
            dataTable.rows('.selected').data().map( d => {
                ids.push(d[0]);
            })
            console.log(ids)
            if (ids.length > 0){
                console.log({data: ids});
                $.post("/item/ad_users/select", {users: ids}, function (data) {
                    console.log("posted");
                },
                "json");
            } else {
                alert("No user selected");
            }
        } );
    } );
</script>