<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<table id="ad_users">
    <thead>
        <tr>
            <% header_hash = AdUserHeader.en_headers %>
            <th><%= header_hash["samaccountname"] %></th>
            <th><%= header_hash["givenname"] %></th>
            <th><%= header_hash["sn"] %></th>
            <th><%= header_hash["cn"] %></th>
            <th><%= header_hash["mail"] %></th>
            <th><%= header_hash["whencreated"] %></th>
        </tr>
        </thead>
        <tbody>
            <% AdUser.all.each do |user| %>
            <tr>
                <td><%= user.samaccountname%></td>
                <td><%= user.givenname%></td>
                <td><%= user.sn%></td>
                <td><%= user.cn%></td>
                <td><%= user.mail%></td>
                <td><%= user.whencreated%></td>
            </tr>
            <% end %>        
        </tbody>
</table>
<script>
    $(document).ready( function () {
        $('#ad_users').DataTable();
    } );
</script>