<div class="template-entry">
    <div class="template-entry-content" data-index=<%=id%>>
        <label for="<%=id%>">
            <input type="checkbox" name="<%=id%>" id="<%=id%>" data-type="template-checkbox">
        </label>
        <div><%=id%></div>
    </div>
    <div class="template-controls" data-template-id="<%=id%>">
        <div class="template-control-edit template-control normalized-transition">Edit</div>
        <div class="template-control-delete template-control normalized-transition">Delete</div>
    </div>
</div>