<div class="t-entry row my-1">
    <div class="col-sm-10 d-flex align-items-center justify-content-between " data-entry-area="content" data-entry-area-id="<%=template.name%>">
        <input type="checkbox" class="t-cbx" name="<%=template.name%>" id="<%=template.name%>" data-entry-area="checkbox">
        <label class="cbx" for="<%=template.name%>">
            <div class="flip">
                <div class="front"></div>
                <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                    <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
                </div>
            </div>
        </label>
        <div><%=template.name%></div> <!-- checkbox label -->
    </div>
    <div class="col-sm row t-entry-controls">
        <a href=<%=edit_template_path(template)%> class="col-sm-12 t-entry-edit" data-entry-area="edit" data-entry-area-id="<%=template.name%>"><i class="fa fa-edit"></i></a>
        <a href=<%=template_path(template)%> data-method="delete" class="col-sm-12 t-entry-delete"  data-entry-area="delete" data-entry-area-id="<%=template.name%>"><i class="fa fa-trash"></i></i></a>
    </div>
</div>