<!-- mailing-page-content -->
<div class=" row"> 
    <%= render partial: 'staging_modal' %>
    <!-- mails-main -->
    <div class="row">
        <!-- message controls -->
        <div class="col-sm">
            <div class="static">
                <div class="form__group field">
                    <input type="input" name="sender" id="sender"  class="form__field" placeholder="Sender" data-event="setSender" value="<%=@sender%>">
                    <label for="sender" class="form__label">Sender</label>
                </div>
                <div class="dropdown d-flex justify-content-between align-items-center px-1 py-1" >
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="buttonDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Recipients 
                        <span class="badge badge-primary badge-pill" id="recipients-no">0</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="buttonDropdownMenu">
                        <div id="recipientsDropdown"></div>
                        <div class="dropdown-divider"></div>
                        <div class="form-group">
                            <form class="px-4 py-3" onsubmit="return false">
                                <label for="emailAddress">New recipient</label>
                                <input type="email" class="form-control" id="inputEmailAddress" placeholder="email@example.com" aria-describedby="emailHelp">
                                <button type="submit" id="buttonAddRecipient" data-jsevent="add-recipient" class="btn btn-primary my-1">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
                <button class="send-btn btn btn-primary" data-toggle="modal" data-target="#stagingModal"><i class="fa fa-envelope" aria-hidden="true"></i></button>
            </div>
            <div class="variables" id="inputsArea">
                Select recipient and template to show available fields.
                (This div should scroll if list is too big)
            </div>
        </div>
        <!-- message-content -->
        <div class="col-sm-6">
            <div class="mail-topic sub-fcn-block-title">
                <span id="title">
                    TOPIC
                </span>
            </div>
            <div class="mail-text" id="content">
                Long text going all the way to the bottom of the page, slightly lighter bg than surroundings
            </div>
        </div>
        <!-- templates -->
        <div class="col-sm">
            <div class="templates-title sub-fcn-block-title">
                <span>
                    TEMPLATES
                </span>
            </div>
            list with checkboxes, should scroll if too long, maybe a form?
            <div class="template-list">
                <% unless @templates.empty? %>
                    <% @templates.each do |template| %>
                        <%= render partial: 'template_entry', locals: {id: template.name} %>
                    <% end %>
                <% end %>    
            </div>
            <div class="templates-footer flex-center-column">
                <fieldset>
                    <legend>Add templates</legend>
                    <div class="flex-center-row full-height templates-footer-controls">
                        <%= form_with(url: {action: :upload}, multipart: true) do %>
                            <%= file_field_tag 'templates[]', multiple: true %>
                            <%= submit_tag %>
                        <% end %>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>