<div class="mailing-page-content">
<%= render partial: 'staging_modal' %>
    <div class="mails-main sub-fcn-block">
        <div class="message-control">
            <div class="static">
                <div class="form__group field">
                    <input type="input" name="sender" id="sender"  class="form__field" placeholder="Sender" required>
                    <label for="sender" class="form__label">Sender</label>
                </div>
                <div class="form__group field">
                    <input type="input" name="recipients" id="recipients"  class="form__field" placeholder="Recipients" required>
                    <label for="sender" class="form__label">Recipients</label>
                </div>
                <button class="send-btn btn btn-primary" data-toggle="modal" data-target="#stagingModal"><i class="fa fa-envelope" aria-hidden="true"></i></button>
            </div>
            <div class="variables">
                This div should scroll if list is too big
            </div>
        </div>
        <div class="message-content">
            <div class="mail-topic sub-fcn-block-title">
                <span id="topic">
                    TOPIC
                </span>
            </div>
            <div class="mail-text">
                Long text going all the way to the bottom of the page, slightly lighter bg than surroundings
            </div>
        </div>
    </div>
    <div class="templates sub-fcn-block">
        <div class="templates-title sub-fcn-block-title">
            <span>
                TEMPLATES
            </span>
        </div>
        list with checkboxes, should scroll if too long, maybe a form?
        <div class="template-list">
            <% unless @templates.empty? %>
                <% @templates.each do |template| %>
                    <%= render partial: 'template_entry', locals: {id: template.name} %>
                <% end %>
            <% end %>    
        </div>
        <div class="templates-footer flex-center-column">
            <fieldset>
                <legend>Add templates</legend>
                <div class="flex-center-row full-height templates-footer-controls">
                    <%= form_with(url: {action: :upload}, multipart: true) do %>
                        <%= file_field_tag 'templates[]', multiple: true %>
                        <%= submit_tag %>
                    <% end %>
                </div>
            </fieldset>
        </div>
    </div>
</div>