<ul class="list-group">
    <% tags.each do |tag| %>
        <li class="list-group-item d-flex justify-content-between align-items-center" data-tag-name="<%= tag.name %>" data-tag-id="<%= tag.id %>">
            <div>
                <a href=<%= edit_itemtag_path(tag) %> class="btn btn-primary">
                    <i class="fas fa-edit"></i>
                </a>
                <% if associated %>
                    <div class="btn btn-primary"> 
                        <i class="fas fa-mask"></i>
                    </div>
                <% end %>
                <%= link_to itemtag_path(tag, template_id: @template.id), data: {remote: true}, method: "delete", class: "btn btn-primary" do %>
                    <i class="fas fa-trash"></i>
                <% end %>
            </div>

            <%= tag.display_name %>  

            <%= link_to( template_path(@template, tag_id: tag.id, associate: !associated), {data: {remote: true, ajaxaction: "tagEdit"}, class: "btn btn-primary", method: "post"} ) do %>  
                <% if associated %>
                    <i class="fas fa-minus"></i>
                <% else %>
                    <i class="fas fa-plus"></i>
                <% end %>
            <% end %>
        </li>
    <% end %>
</ul>