<%= form_with model: @itemtag, class: "px-4 py-3", id: "tagNewForm" do |i|%>
    <% if @template %>
        <%= hidden_field_tag :template_id, @template.id %>
    <% end %>
    <div class="form-group">
        <%= i.label :display_name %>
        <%= i.text_field :display_name, class:"form-control form-control-sm", required: true, pattern: "\\w+" %>
    </div>
    <div class="form-group">
        <%= i.label :description %>
        <%= i.text_field :description, class:"form-control form-control-sm" %>
    </div>
    <div class="form-group">
        <%= i.label :default_value_mask %>
        <%= i.text_field :default_value_mask, class:"form-control form-control-sm" %>
    </div>
    <div class="form-check">
        <%= i.check_box :store_value, class:"form-check-input" %>
        <%= i.label :store_value, class:"form-check-label" %>
    </div>
    <%= i.submit class:"btn btn-primary" do %>
    <% end %>
<% end %>