<div class="scrollable-custom pt-2">
    <div class="row">
        <div class="col-md mb-2">
            <div class="card">
                <div class="card-header">
                    Mailer settings
                </div>
                <div class="card-body">
                    <%= render partial: 'smtp_settings' %>
                </div>
            </div>
        </div>
        <div class="col-md mb-2">
            <div class="card">
                <div class="card-header">
                    LDAP connection settings
                </div>
                <div class="card-body">
                   <%= render partial: 'ldap_settings' %>
                </div>
            </div>
        </div>
        <div class="col-md mb-2">
            <div class="card">
                <div class="card-header">
                    Other application settings
                </div>
                <div class="card-body d-flex flex-column">
                    <%= render partial: 'application_settings' %>
                    <%= link_to 'Run Office Autobinder', autobind_path, remote: true, class: "btn btn-primary mb-1" %>
                    <%= link_to 'Force LDAP Sync', sync_ldap_path, remote: true, class: "btn btn-primary" %>
                </div>
            </div>
        </div>
        <div class="col-md mb-2">
            <div class="card">
                <div class="card-header">
                    SMSApi settings
                </div>
                <div class="card-body">
                   <%= render partial: 'sms_settings' %>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    
</div>